.sortable-header th{
	color: white;
}

.sortable-header th:hover{
	cursor: pointer;
	text-shadow: 4px 2px 16px rgba(255,255,255,0.5);
}

.multiselect-parent .btn{
	font-size: 24px;
}

.full-width .btn-group{
	display: inline !important;
}

.full-width .btn{
	width: 100% !important;
}

tr.highlight-table-row {
	background: #faa123;
	color: white;
	font-weight: bold;
}

tr.highlight-table-row td .text-danger{
	font-size: 18px;
	font-weight: bold;
}

th, td{
	text-align: center;	
}

.delete-note:hover{
	cursor: pointer;
	opacity: 0.8;
}

.loading-text{
	color: #fff;
	font-size: 34px;
	margin-bottom: 15px;
	font-weight: bold;
	opacity: 0.3;
}

legend{
	text-align: center;
	font-size: 34px;
	font-weight: bolder;
}

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

.nav .glyphicon{
	margin-right: 6px;
}

.max-width-notes{
	max-width: 125px;
	font-size: 14px !important;
	font-weight: normal !important;
}

#player-grade-input{
	text-align: left;
	margin-top: 30px;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: -10px;
}

#player-grade-section .progress{
	margin-top: 10px;
	height: 35px;
	margin-bottom: -10px;
}

.rzslider .rz-bubble.rz-limit{
	color: #999 !important;
	font-size: 22px;
}

.rzslider .rz-bubble{
	font-size: 26px;
	color: white !important;
}

.tag-player-button .btn{
	width: 100%;
}

.player-grade-button .alert {
	height: 35px !important;
	font-size: 20px;
	margin-top: 2px;
}

.player-grade-button .player-grade-button-number{
	margin-top: -12px;
	font-weight: bolder;
}

#player-grade-section .text-danger{
	font-size: 24px;
	font-weight: bold;
}

.combine-row-header{
	background-image: -webkit-linear-gradient(#0f1822, #0d253d 60%, #0e1822);
}

.combine-row-header .combine-logo{
	font-size: 14px;
	color: #999;
	font-weight: bolder;
}

.combine-row-header .combine-logo:hover{
	cursor: pointer;
	color: white;
}

.combine-row-header .combine-data{
	font-weight: bolder;
	color: #ccc;
	font-size: 22px;
}

.expand-combine-row{
	height: 40px;
	margin-left: 25px;
}

.expand-combine-row .inner-button-text{
	margin-top: -9px;
}

.primary-data-row td{
	font-size: 16px;
	font-weight: bold;
	font-family: sans-serif
}

.delete-note {
	font-size: 14px;
}

.no-value-available{
	color: #b60000 !important;
	font-weight: normal !important;
	opacity: 0.7;
	font-size: 19px !important;
}

.selected-page{
	background: #0d253d !important;
}

#pagination{
	text-align: center;
	font-size: 20px;
}

.modal-footer .btn{
	font-size: 24px;
	width: 100%;
	float: left;
}

.modal-footer .btn-link{
	margin-top: 15px;
	margin-bottom: -20px;
	color: #a94442;
	font-size: 24px;
	font-weight: bolder;
	width: 100%;
	text-align: center !important;
}

.modal-footer .btn-link:hover{
	text-decoration: none;
	opacity: 0.7;
}

.primary-data-row.player-drafted-row{
	background: rgba(21, 129, 193, 0.2)
}

.player-drafted-row i{
	color: rgb(196, 141, 64);
}

#draft-team-info{
	margin-left: 5px;
	display: inline;
}

#draft-team-info img{
	height: 25px;
	width: 25px;
	opacity: 1;
	border-radius: 5px;
}
#nfl-team-options{
	width: 200px;
	display: inline-block;
	margin-top: 15px;
}

#nfl-team-options .dropdown-toggle{
	font-size: 18px;
}

#title-area{
	text-align: center;
}

#title-area div{
	display: inline-block;
    margin-bottom: -15px;
}

#title-area div .btn{
	padding: 6px 22px;;
}

#title-area #filters-title{
	font-size: 34px;
	font-weight: bold;
}

.checkbox-label {
	display: block !important;
}

.checkbox-label input{
	margin-right: 4px;
}

#show-available-checkbox{
	margin-top: -3px;
	margin-bottom: 20px;
}

#likeness-options{
	text-align: center;
	margin: 18px 0px;
}

#likeness-options .btn{
	margin-left: 5px;
	font-size: 20px;
	color: white;
	color: #ddd
}

#likeness-options .btn.active{
	font-weight: bold;
	color: white;
}

#projected-round-options{
	font-size: 24px;
	text-align: center;
	margin-bottom: 45px;
	margin-top: 45px;
}

#projected-round-options label{
	margin-left: 20px;
}

.player-notes-table-row{
	background: rgba(0,0,0,0.5);	
}

.player-notes-table-row-title{
	font-weight: bold;
	text-transform: uppercase;
    color: #a6a6a6;
    margin-bottom: -7px;
}

.player-notes-table-row pre{
	white-space: pre-line;
	background: none;
	color: white;
	border: none;
	font-family: sans-serif;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	width: 85%;
	margin: 0px auto;
}

.player-strengths-table, .player-weaknesses-table, .player-summary-table{
	margin-bottom: 22px;
}

.player-grade-brief{
	padding: 3px;
	border-radius: 4px;
	color: white;
}

.player-projected-round-brief{
	font-style: italic;
	font-size: 12px;
	opacity: 0.4;
	margin-top: 3px;
}

.grade-title{
	font-size: 17px;
	font-weight: bold;
	opacity: 0.6;
	text-align: center;
}

#primary-filters{
	margin-top: 25px;
}