<div class="container">

	<div id="filters" class="well">
	
		<form class="form-horizontal">
		  <fieldset>
		    <legend>
		    	Filters
		    	<button ng-show="isCurrentYearSelected()" class="btn btn-default expand-combine-row" ng-click="combine.expanded = !combine.expanded">
					<div class="inner-button-text">
						Toggle Combine
						<img src="https://upload.wikimedia.org/wikipedia/en/c/c4/NFL_Combine.png" width="40px" />
					</div>
				</button>
		    </legend>
		    <label ng-show="user" for="favoritesOnly"><input name="favoritesOnly" ng-model="favorite" type="checkbox" ng-change="loadPlayers()" />Only show tagged players</label>
		    <!-- additionally update playerService.js -->
			<!-- <label for="availableOnly"><input name="availableOnly" ng-model="availableOnly" type="checkbox" ng-change="loadPlayers()" />Only show available players</label> -->
		    <div class="form-group">
		      	<div class="col-xs-4">
		        	<div 
		        		class="full-width"
		        		ng-dropdown-multiselect="" 
		        		options="positionOptions" 
		        		selected-model="filterParams.positions" 
		        		extra-settings="smartButtonSettings"
		        		translation-texts="{buttonDefaultText: 'Positions'}"
			        	events="onMultiSelectEvents">
		        	</div>
		      	</div>
				<div class="col-xs-4">
		        	<div ng-dropdown-multiselect="" 
		        		class="full-width"
			        	options="positionCategoryOptions" 
			        	selected-model="filterParams.positionCategories" 
			        	extra-settings="smartButtonSettings"
			        	translation-texts="{buttonDefaultText: 'Position Groups'}"
			        	events="onMultiSelectEvents">
			        </div>
		      	</div>
				<div class="col-xs-4">
		        	<div ng-dropdown-multiselect="" 
		        		class="full-width"
			        	options="positionSideOfBallOptions" 
			        	selected-model="filterParams.positionSidesOfBall" 
			        	extra-settings="smartButtonSettings"
			        	translation-texts="{buttonDefaultText: 'Off / Def / Spt'}"
			        	events="onMultiSelectEvents">
			        </div>
		      	</div>
		      	
		      	<div class="col-xs-4">
		        	<div 
		        		ng-dropdown-multiselect="" 
		        		class="full-width"
		        		options="collegeOptions" 
		        		selected-model="filterParams.colleges" 
		        		extra-settings="smartButtonSettings"
		        		translation-texts="{buttonDefaultText: 'Colleges'}"
			        	events="onMultiSelectEvents">
		        	</div>
		      	</div>
				<div class="col-xs-4">
		        	<div ng-dropdown-multiselect="" 
		        		class="full-width"
			        	options="conferenceOptions" 
			        	selected-model="filterParams.conferences" 
			        	extra-settings="smartButtonSettings"
			        	translation-texts="{buttonDefaultText: 'Conferences'}"
			        	events="onMultiSelectEvents">
			        </div>
		      	</div>
				<div class="col-xs-4">
		        	<div ng-dropdown-multiselect="" 
		        		class="full-width"
			        	options="yearOptions" 
			        	selected-model="filterParams.years" 
			        	extra-settings="smartButtonSettings"
			        	translation-texts="{buttonDefaultText: 'Years'}"
			        	events="onMultiSelectEvents">
			        </div>
		      	</div>
		    </div>
		  </fieldset>
		</form>
	
	</div>

	<div ng-if="loading" class="loading-text text-center">Loading...</div>
	
	<nav id="pagination" aria-label="Page navigation">
	  <ul class="pagination">
	    <li>
	      <a ng-click="prevPage()" href="" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li ng-repeat="p in getPageNumbers()"><a ng-class="{'selected-page' : getCurrentPageNumber() == p}" ng-click="gotoPage(p)" href="">{{p}}</a></li>
	    <li>
	      <a ng-click="nextPage()" href="" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
	
	<table class="table">
		<thead>
			<tr class="sortable-header">
				<th ng-click="sort('positionRank')">Pos Rnk</th>
				<th ng-click="sort('projectedRound')">Proj Rd</th>
				<th ng-click="sort('name')">Name</th>
				<th ng-click="sort('position.name')">Pos</th>
				<th ng-click="sort('college.name')">Col</th>
				<th ng-click="sort('height')">Ht</th>
				<th ng-click="sort('weight')">Wt</th>
				<th ng-click="sort('year')">Yr</th>
				<th ng-show="user">Notes</th>
				<th ng-show="user" ng-click="sort('notes.grade')">Grade</th>
				<th ng-show="user" colspan="2"></th>
			</tr>
		</thead>
		<tbody>
			<tr class="primary-data-row" ng-repeat-start="player in players">
				<td>{{player.positionRank}}</td>
				<td>{{player.projectedRound}}</td>
				<td class="player-name-row">
					<button class="btn btn-default" ng-click="player.expanded = !player.expanded" ng-show="!combine.expanded"><span ng-class="player.expanded ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus'"></span></button>
					<a target="_blank" href="https://www.youtube.com/results?search_query={{player.name + ' ' + player.college.name}}">{{player.name}}</a>
					<i ng-show="player.round">({{player.team + ' ' + player.round + ':' + player.pick}})</i>
				</td>
				<td>{{player.position.name}}</td>
				<td>{{player.college.name}}</td>
				<td>{{player.height}}</td>
				<td>{{player.weight}}</td>
				<td>{{player.year}}</td>
				<td class="max-width-notes" ng-show="user">
					<div ng-show="player.notes" ng-bind="displayNotes(player.notes.notes)"></div>
				</td>
				<td class="player-grade-button" ng-show="user">
					<div ng-show="player.notes.id" ng-class="getClassByPlayerGrade('alert alert-', player.notes.grade)">
						<div class="player-grade-button-number">{{player.notes.grade}}</div>
					</div>
				</td>
				<td ng-show="user" title="Copy player & notes to clipboard"><button  ng-click="copyToClipboard(player)" class="btn btn-default">Copy <span class="glyphicon glyphicon-copy"></span></button></td>
				<td title="Tag the player and optionally add notes" class="tag-player-button" ng-show="user">
					<div ng-show="player.notes.id">
						<button class="add-note btn btn-info" ng-click="openNotesModal(player)">Edit</button>
						<div class="delete-note text-danger" ng-click="deleteNote(player)">Remove tag</div>
					</div>
					<div ng-show="!player.notes.id">
						<button class="add-note btn btn-success" ng-click="openNotesModal(player)">Tag Player</button>
					</div>
				</td>
			</tr>
			<tr ng-show="(combine.expanded || player.expanded) && isCurrentYearSelected()" class="combine-row-header" ng-repeat-end>
				<td>
					<div ng-click="sort('fortyYardDash')" class="combine-logo">40-Yd</div>
					<div ng-class="{'no-value-available' : !player.fortyYardDash}" class="combine-data">{{player.fortyYardDash || 'N/A'}}</div>
				</td>
				<td>
					<div ng-click="sort('twentyYardShuttle')" class="combine-logo">20-Yd</div>
					<div ng-class="{'no-value-available' : !player.twentyYardShuttle}" class="combine-data">{{player.twentyYardShuttle || 'N/A'}}</div>
				</td>
				<td>
					<div ng-click="sort('sixtyYardShuttle')" class="combine-logo">60-Yd</div>
					<div ng-class="{'no-value-available' : !player.sixtyYardShuttle}" class="combine-data">{{player.sixtyYardShuttle || 'N/A'}}</div>
				</td>
				<td>
					<div ng-click="sort('threeConeDrill')" class="combine-logo">3-Cone</div>
					<div ng-class="{'no-value-available' : !player.threeConeDrill}" class="combine-data">{{player.threeConeDrill || 'N/A'}}</div>
				</td>
				<td>
					<div ng-click="sort('benchPress')" class="combine-logo">Bench</div>
					<div ng-class="{'no-value-available' : !player.benchPress}" class="combine-data">{{player.benchPress || 'N/A'}}</div>
				</td>
				<td>
					<div ng-click="sort('verticalJump')" class="combine-logo">Vert</div>
					<div ng-class="{'no-value-available' : !player.verticalJump}" class="combine-data">{{player.verticalJump || 'N/A'}}</div>
				</td>
				<td>
					<div ng-click="sort('broadJump')" class="combine-logo">Broad</div>
					<div ng-class="{'no-value-available' : !player.broadJump}" class="combine-data">{{player.broadJump || 'N/A'}}</div>
				</td>
				<td>
					<div ng-click="sort('handSize')" class="combine-logo">Hands</div>
					<div ng-class="{'no-value-available' : !player.handSize}" class="combine-data">{{player.handSize || 'N/A'}}</div>
				</td>
				<td>
					<div ng-click="sort('armLength')" class="combine-logo">Arms</div>
					<div ng-class="{'no-value-available' : !player.armLength}" class="combine-data">{{player.armLength || 'N/A'}}</div>
				</td>
				<td ng-show="user" colspan="3"></td>
			</tr>
		</tbody>
	</table>
</div>