<div class="modal-header">
    <h3 class="modal-title">{{player.notes.id ? 'Update' : 'Add'}} Notes for {{playerDetails}}</h3>
    <button ng-show="player.notes.id" id="delete-notes-button" class="btn btn-sm btn-danger" ng-click="delete()"><span
            class="glyphicon glyphicon-trash"></span> Delete
    </button>
</div>
<div class="modal-body">
    <div>
        <h3>Summary</h3>
        <textarea rows="8" class="form-control" ng-model="player.notes.summary"></textarea>
    </div>
    <div>
        <h3>Strengths</h3>
        <textarea rows="8" class="form-control" ng-model="player.notes.strengths"></textarea>
    </div>
    <div class="text-area-input">
        <h3>Weaknesses</h3>
        <textarea rows="8" class="form-control" ng-model="player.notes.weaknesses"></textarea>
    </div>
    <div id="player-tags" class="row">
        <div ng-repeat="tag in tags" class="col-sm-2">
            <span ng-class="hasTag(tag) ? 'badge has-tag' : 'badge'" ng-click="toggleTag(tag)">{{tag.name}}</span>
        </div>
    </div>
    <div id="likeness-options">
        <div class="grade-title">Would Draft?</div>
        <div class="btn-group" ng-repeat="option in likenessOptions">
            <button type="button"
                    ng-class="{'active':player.notes.likeness === option.likeness, 'btn btn-sm btn-default':true}"
                    ng-click="player.notes.likeness = option.likeness"
                    ng-style="player.notes.likeness === option.likeness && {background:getColorByPlayerGrade(player.notes.likeness*20)}">
                {{option.text}}
            </button>
        </div>
    </div>
    <div id="projected-round-options">
        <div class="grade-title">Projected Round</div>
        <label class="radio-inline" ng-repeat="option in projectedRoundOptions">
            <input type="radio" name="projectedRoundOptions"
                   id="inlineRadioButton{{option.round}}"
                   value={{option.round}}
                   ng-model="player.notes.projectedRound"> {{option.text}}
        </label>
    </div>
    <div id="player-grade-section">
        <div class="grade-title">Overall Grade</div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="sanitizedGradeValue(player.notes.overallGrade)"
                 aria-valuemin="0" aria-valuemax="100"
                 ng-style="{'background-color': getColorByPlayerGrade(player.notes.overallGrade), 'width' : sanitizedGradeValue(player.notes.overallGrade) + '%'}">
            </div>
            <div ng-show="!isValidGrade(player.notes.overallGrade)" class="text-center text-danger">Please enter a value
                between 0 and 100
            </div>
        </div>
    </div>
    <div id="player-grade-input">
        <rzslider ng-show="sliderVisible"
                  rz-slider-model="player.notes.overallGrade"
                  rz-slider-options="{floor: 0, ceil: 100}">
        </rzslider>
    </div>
</div>
<div class="modal-footer">
    <button ng-disabled="!isValidGrade(player.notes.overallGrade)" class="btn btn-success full-width"
            ng-click="submit()"><span class="glyphicon glyphicon-floppy-disk"></span> Save
    </button>
    <button ng-show="player.notes.id" id="share-player-button" class="btn btn-info full-width" ng-click="share()"><span
            class="glyphicon glyphicon-share"></span> Share
    </button>
    <button id="cancel-notes-button" class="btn-link"><span ng-click="cancel()">Close</span></button>
</div>