<div class="modal-header">
    <h3 class="modal-title">Share Player Placeholder</h3>
</div>
<div class="modal-body">
	<h3>selected friends: {{selectedFriends}}</h3>
	<h3>notes: {{notes}}</h3>
	<h3>mediaUrl: {{mediaUrl}}</h3>
	
 	<label for="friendscheckbox{{f.friend}}" ng-repeat="f in friends">
		<input type="checkbox" 
			id="friendscheckbox{{f.friend}}"  
			name="friends" 
			value="{{f.friend}}" 
			ng-model="selectedFriends[f.friend]">
			{{f.friend}}
	</label>
	
	<textarea class="form-control" ng-model="notes"></textarea>
	<input class="form-control" type="text" ng-model="mediaUrl" />
</div>
<div class="modal-footer">
    <button class="btn btn-info full-width" ng-click="share()" >
    	<span class="glyphicon glyphicon-share"></span>&nbsp;
    	Share
    </button>
    <button class="btn-link" ng-click="close()">Cancel</button>
</div>