<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="refresh-data-title"><span class="glyphicon glyphicon-refresh"></span>&nbsp;
                Refresh data from source
            </div>
            <div id="refresh-data-buttons">
                <button ng-disabled="importInProgress" class="btn btn-success" ng-click="refresh(2)">NFL Draft
                    Countdown
                </button>
                <button ng-disabled="importInProgress" class="btn btn-warning" ng-click="refresh(1)">Draft Tek</button>
                <button ng-disabled="importInProgress" class="btn btn-info" ng-click="refresh(4)">CBS Sports</button>
                <button ng-disabled="importInProgress" class="btn btn-danger" ng-click="refresh(3)">Walter Football
                </button>
            </div>
            <div id="refresh-all-button">
                <button ng-disabled="importInProgress" class="btn btn-default" ng-click="refresh(0)">Refresh ALL
                </button>
            </div>
            <div id="combine-data-refresh">
                <button ng-disabled="importInProgress" class="btn btn-default" ng-click="refresh(6)">NFL Combine Data
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c1/2017_NFL_Draft_logo.svg/1200px-2017_NFL_Draft_logo.svg.png"
                         width="40px"/>
                </button>
            </div>
            <div id="latest-import" ng-show="latestImport">
                Last import: {{latestImport.date | date:'yyyy-MM-dd hh:mm:ss'}}
            </div>
            <div class="row" id="import-progress" ng-show="importInProgress">
                <div class="col-md-6 well col-md-offset-3">
                    <div id="import-progress-title">Import in progress</div>
                    <div id="import-progress-details" ng-show="importProgress">
                        <div>Status: {{importProgress.description}} ({{importProgress.date | date:'yyyy-MM-dd
                            hh:mm:ss'}})
                        </div>
                        <!--<div class="progress-bar" role="progressbar" aria-valuenow="importProgress.progress"-->
                             <!--aria-valuemin="0" aria-valuemax="100"-->
                             <!--ng-style="{'background-color': '#53be53' , 'width' : importProgress.progress + '%'}">-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div id="add-player-button-wrapper">
                <button class="btn btn-success" ng-click="addPlayer()"><span class="glyphicon glyphicon-plus"></span>&nbsp;
                    Add new player
                </button>
            </div>
        </div>
    </div>
</div>